header {
    display: flex;
    flex-direction: column;
    height: 13.063rem;
    align-items: center;
    justify-content: center;
}

header .header__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.313rem;
}

header .header__container form {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 3.25rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

header .header__container form > input {
    height: 100%;
    outline: none;
    border: none;
    border-radius: var(--border-radius-default);
    width: 14.563rem;
    max-width: 70%;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    background-color: var(--cards-background-color);
    color: var(--input-font-color);
    font-size: 1rem;
    font-weight: 500;
}

header .header__container form > input:focus {
    background-color: #fff;
    border: 1px solid var(--cards-background-color);
    color: var(--background-color);
}

header .header__container form > button {
    height: 100%;
    width: 5.375rem;
    max-width: 20%;
    border: none;
    border-radius: var(--border-radius-default);
    cursor: pointer;
    background-color: var(--button-background-color);
    background-image: url('../assets/search-icon.png');
    background-repeat: no-repeat;
    background-size: 1.3rem;
    background-position: center;
}

header .header__container form > button:hover {
    background-color: var(--button-background-hover-color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .main__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.625rem;
    margin-bottom: 2rem;
}

main .main__container > h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--h2-color);
}

main .main__container > p {
    font-size: 1.25rem;
    color: var(--loading-font-color);
    font-weight: 500;
    margin-top: 7rem;
}

main .main__container .hidden {
    display: none;
}

main .main__container #pokemon_list {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    width: 100%;
    align-items: center;
}

main .main__container #pokemon_list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.75rem;
    width: 50rem;
    max-width: 90%;
    background-color: var(--cards-background-color);
    border-radius: var(--border-radius-default);
    gap: 0.75rem;
    padding: 0 0.4rem;
    box-sizing: border-box;

}

main .main__container #pokemon_list li > img {
   height: 60px;
   width: auto; 
}

main .main__container #pokemon_list li > h3 {
    color: var(--pokemon-names-color);
    font-weight: 500;
    font-size: 1.25rem;
}

main .main__container #pokemon_list > p {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 4rem;
    color: var(--pokemon-names-color);
    text-align: center;
    line-height: 150%;
    padding: 0 1rem;
}

main .main__container #pokemon_list > button {
    height: 3.5rem;
    width: 5.5rem;
    border-radius: var(--border-radius-default);
    border: none;
    cursor: pointer;
    background-color: var(--button-background-color);
    color: var(--h2-color);
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    text-align: center;
}

main .main__container #pokemon_list > button:hover {
    background-color: var(--button-background-hover-color);
}

.toast {
    border-radius: var(--border-radius-default);
    background-color: rgb(227, 115, 115);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 1rem 0.5rem;
    box-sizing: border-box;
    max-width: 80%;
    width: 30rem;
    animation: toastIn 1s ease-in-out;
    border: none;
}

.toast_out {
    animation: toastOut 1s ease-in-out forwards;
}

.toast > p {
    font-size: 1.3rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 150%;
}

.toast > img {
    max-width: 10rem;
    width: 80%;
}

@keyframes toastIn {
    0% {
        transform: translateY(-150%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes toastOut {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-150%);
        opacity: 0;
    }
}

@media(min-width: 769px) {
    header .header__container {
        flex-direction: row;
        width: 50.063rem;
        justify-content: space-between;
    }

    header .header__container form {
        justify-content: flex-end;
    }
}
